.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

#main_section{
    
    display: flex;
    flex-direction: row;
    flex: 1;
}

#secondary_nav{
    
    display: flex;
    flex-direction: row;
    flex: 1;
    max-height: 10vh;

}

#primary_nav, #secondary_nav{
    border-bottom: 1px solid #E8E8E8;
}

#curr_user_display, #channel_nav {
    padding: 1em;

}



#channel_nav, #channel_nav ul {
    
    display: flex;
    flex-direction: row;
    flex: 1;
}


#add_users{
    margin-left: auto;
}


#sidebar, #curr_user_display {
    
    /* padding-left: 1.5em;
    padding-top: 1em; */
    background-color: #386c8a;
    flex: 0 0 25vw;
    color: white;
    
}

#sidebar li{
    /* padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.3em; */
    padding: 0.5em;
    padding-left: 1em   ;

}

/* #sidebar_header h4{
    padding: 1em;
    padding-bottom: 0.5em;
}


#sidebar_header {

    border-bottom: 1px solid gray;
} */

#sidebar li a{
    color: white;
    text-decoration: none !important;
}

#sidebar ul li ul{
   padding: 0.5em;
}



#sidebar ul li ul li:hover, #add_channel:hover{
    background-color: #6996AD;
}

#add_channel {
    float: right;
    border: none;
    color: white;
    background-color: #386c8a;
    border-radius: 30%;
}

#message_area {
    
    flex: 1;
    
}


#message_section {
    
    min-height: 70vh;
    overflow-y: auto; /*Make  this section scrolable */
    padding: 1em;
    
    
}

#input_section {
    padding: 1em;
}

.remove-style {
    padding: 0;
    list-style: none; 
} /* Remove default bullets */

#channels li::before {
    content: "\0023"; /* Unicode bullet symbol */
    color: white;  /* Bullet color */
	
	/* Optional tweaks */

}


.username {

    font-size: 1.1em;
    font-weight: bold;

}

.time {
    font-size: 0.9em;
}

.new-channel {
    background-color: #325C74;
    border: none;
    color: white;
    opacity: 0.8;
}

.active {
    background-color: #20B2AA;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.7; /* Firefox */
  }