.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

#main_section{
    
    display: flex;
    flex-direction: row;
    flex: 1;
}


#sidebar {
    
    padding: 2em;
    background-color: #386c8a;
    flex: 0 0 25vw;
    color: white;
    
}

#sidebar li a{
    color: white;
    text-decoration: none !important;
}

#sidebar ul li ul{
   
}

#sidebar ul li ul li:hover, .active{
    background-color: #6996AD;
}

#add_channel {
    float: right;
}

#message_area {
    
    flex: 1;
    
}


#message_section {
    
    height: 85vh;
    overflow-y: auto; /*Make  this section scrolable */
    padding: 1em;
    
    
}

#input_section {
    padding: 1em;
}

.remove-style {
    padding: 0;
    list-style: none; 
} /* Remove default bullets */

#channels li::before {
    content: "\0023"; /* Unicode bullet symbol */
    color: white;  /* Bullet color */
	
	/* Optional tweaks */

}


.username {

    font-size: 1.1em;
    font-weight: bold;

}

.time {
    font-size: 0.9em;
}

.new-channel {
    background-color: #325C74;
    border: none;
    color: white;
    opacity: 0.8;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.7; /* Firefox */
  }