.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

#main_section{
    
    display: flex;
    flex-direction: row;
    flex: 1;
}

#secondary_nav{
    
    display: flex;
    flex-direction: row;
    flex: 1;
    max-height: 10vh;

}

#primary_nav, #secondary_nav{
    border-bottom: 1px solid #E8E8E8;
}

#curr_user_display, #channel_nav {
    padding: 1em;

}

#channel_nav, #channel_nav ul {
    
    display: flex;
    flex-direction: row;
    flex: 1;
}

#channel_nav ul{
    justify-content: space-between;
}
#curr_channel {
    flex: 1;
    /* flex-basis: 500px;
    flex-grow: 1;
    flex-shrink: 1; */
}


#num_users, #add_users {
    flex: 0 0 6vw;
    text-align: center;


}


#sidebar, #curr_user_display {
    
    /* padding-left: 1.5em;
    padding-top: 1em; */
    background-color: #386c8a;
    flex: 0 0 25vw;
    color: white;
    
}

#sidebar li{
    /* padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.3em; */
    padding: 0.5em;
    padding-left: 1em   ;

}

/* #sidebar_header h4{
    padding: 1em;
    padding-bottom: 0.5em;
}


#sidebar_header {

    border-bottom: 1px solid gray;
} */

#sidebar li a:not(.dropdown-item){
    color: white;
    text-decoration: none !important;   
}

#sidebar ul li ul{
   padding: 0.5em;
}



#sidebar ul li ul li:hover, #add_channel:hover{
    background-color: #6996AD;
}

#add_channel, .remove-channel-btn{
    float: right;
    border: none;
    color: white;
    background-color: #386c8a;
    border-radius: 30%;
}

.remove-channel{
    float: right;
}

.remove-channel-btn{
    padding: 0;

}

.remove-channel-btn:hover{
    opacity: 0.5;
}


#channels li:hover .remove-channel-btn{
    background-color: #6996AD;

}

/* .remove-channel-btn .dropdown-menu {
    color: black;
} */

/* #channels li:hover button,i {
    visibility: visible;
} */



#add_users button {
    border: none;
    background-color: white;
    border-radius: 30%;
}

#message_area {
    
    flex: 1;
}


#message_section {
    
    min-height: 72vh;
    overflow-y: auto; /*Make  this section scrolable */
    padding: 1em;
    
}

/* #message_section p{
    vertical-align: bottom;
} */

#input_section {
    padding: 1em;
}

.remove-style {
    padding: 0;
    list-style: none; 
} /* Remove default bullets */

#channelHelp {
    visibility: hidden;
}

#channels li::before {
    content: "\0023"; /* Unicode bullet symbol */
    color: white;  /* Bullet color */
	
	/* Optional tweaks */

}



#add_users_btn_wrapper  .btn[disabled] {
    /* don't let button block mouse events from reaching wrapper */
    pointer-events: none;
}


.username {

    font-size: 1.1em;
    font-weight: bold;

}

.time {
    font-size: 0.9em;
}

.new-channel {
    background-color: #325C74;
    border: none;
    color: white;
    opacity: 0.8;
}

.active {
    background-color: #20B2AA;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.7; /* Firefox */
  }

/* .remove-channel .dropdown-menu{
    background-color: #325C74 !important;   
} */
