/* colors for brand */
/* nav {
    
    background-color: black;
} */

nav .navbar-brand .blue
{
    color: #537fbe;
}

#righthand_pannel p {
    font-size: 0.8em;
    color: grey;
}



/* a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
} */

/* #sidebar ul{
    padding-left: 20px;
    font-size: 1.1em;
} */


/* #sidebar {
    float: left; 
    min-height: 100vh;
    padding-left: 1em;
    padding-top: 3em;
    padding-right:1em;

} */

/* #message_area {
    overflow: hidden; 
} */

/* #message_section {
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    min-height: 82vh;
    max-height: 82vh;
    overflow-y: auto; 
} */

/* #input_section {
    padding-left: 1em;
    padding-right: 1em;
    bottom: 0;
} */

/* nav {
    background-color: black;
} */