nav .navbar-brand .blue
{
    color: #386c8a;
}

#righthand_pannel p {
    font-size: 0.8em;
    color: grey;
}

#main_sections {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;

}

#image_section{
    float: left;
    padding: 2em;
}


#image_section picture img{
    border: 1px solid;
}

#righthand_pannel {
    padding: 4em;
    flex: 1;
}

.formErrorHelp{
    list-style-type:none;
    padding:0px;
    color: red;
}

h2 {
    color: #6996AD;
}
.btn {
    background-color: #6996AD;
    color: white;
}

.btn:hover {
    background-color: #20B2AA;
}


