{% extends "layout.html" %}
{% from "helper.html" import displayField %}

{% block title %}
    Registration
{% endblock %}

{% block main %}
    <h2>Getting started!</h2>
    <form action="{{ url_for('index') }}", method="POST">

        {{ displayField(form.username, "Username", autocomplete="off", autofocus=true) }}
        {{ displayField(form.password, "Password") }}
        {{ displayField(form.password_confirm, "Confirm Password") }}
 
        <div class="form-group">
            {{ form.submit_button(class_="btn") }}
        </div>

        {{ form.csrf_token }}
    </form>

    <hr>
    <p>Have already registered? <a href={{url_for('login')}}>Sign in here</a>.</p>

{% endblock %}